/* ALL */
*{ margin: 0; padding: 0; font-family: "Comic Sans MS"; cursor: url(../img/heart3.png), default; }
body{ color: white; }
.row{ margin: 0; }
.TAC { text-align: center; }

/* MAIN CONTENT */
.hero { height: 100vh; background-color: black; }
.center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

/* IMAGE FOLDER */
.imgfolder { position: relative; background-color: white; }

.backimg { height: 500px; z-index: 4; }

.windowimg { position: absolute; top: 18%; left: 48%; transform: translate(-50%,-50%); height: 125px; z-index: 5; }
.winimg{ position: absolute; top: 33%; left: 48%; transform: translate(-50%,-50%); height: 300px; z-index: 6;  }
.loseimg{ position: absolute; top: 33%; left: 48%; transform: translate(-50%,-50%); height: 300px; z-index: 6; }

.beans { cursor: pointer; position: absolute; height: 115px; top: 52%; left: 17%; transform: translate(-50%,-50%); z-index: 5; }
.funnel { cursor: pointer; position: absolute; height: 75px; top: 56%; left: 80%; transform: translate(-50%,-50%); z-index: 5; }
.grinder { cursor: pointer; position: absolute; height: 155px; top: 48%; left: 63%; transform: translate(-50%,-50%); z-index: 5; }
.kettle { cursor: pointer; position: absolute; height: 135px; top: 50%; left: 45%; transform: translate(-50%,-50%); z-index: 5; }

/* TEXT FOLDER */
.textfolder {
      padding: 20px;
      font-size: 15px;
      background-color: #ff69b4;
      color: white;
}

.OPTp { text-align: center; cursor: pointer; transition: all 1s; }
.OPTp:hover { font-size: 17px; }
