.thisparallax{
  height:100vh;
  background-image: url(../img/heart2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullimgdiv{ width: 100%; }
